@using BVZ.Models.Admin.Guide;
@model GuideViewModel
@{
    ViewData["Title"] = "Hire Guide";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form asp-action="CreateGuide" method="post">
    <div class="form-group">
        <label asp-for="GuideName">Guide Name:</label>
        <input asp-for="GuideName" class="form-control" />
        <span asp-validation-for="GuideName" class="text-danger"></span>
    </div>

    @foreach (var competence in Model.AnimalCompetences)
    {
        <input type="hidden" asp-for="AnimalIDs" value="@competence.Id" />
    }

    <button type="submit" class="btn btn-primary">Registrera</button>
</form>