@using BVZ.Models.Admin;


@{
}
@model DisplayAdminAnimalsViewModel

@* @if (Model is ErrorViewModel errorModel)
{
    <div style="color:darkred;">
        <p>@errorModel.ValidationErrorMessage</p>
    </div>
} *@

@* @if (Model is AdminCreateTourViewModel actVM)
{ *@
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Guide</h5>
            <h6 class="card-subtitle mb-2 text-muted">Guide.Name</h6>
            <p class="card-text">Kompetens</p>
            @foreach(var comp in Model.Guide.AnimalCompetences)
            {
                <p class="card-text">@comp.AnimalArchetype</p>
            }
        </div>
    </div>
    <form asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="TourName">Tour Name:</label>
            <input asp-for="TourName" class="form-control" />
            <span asp-validation-for="TourName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="TourDescription">Description:</label>
            <textarea asp-for="TourDescription" class="form-control"></textarea>
            <span asp-validation-for="TourDescription" class="text-danger"></span>
        </div>

        <input asp-for="SelectdGuideId" type="hidden" value="@Model.Guide.Id" />
        @* <input type="hidden" name="Guide" value="Model.Guide" />  *@
        <button type="submit" class="btn btn-primary">Create Tour</button>
    </form>
@* }
 *@
