@using BVZ.Models.Tour;
@model BookingConfirmationViewModel
@{
    ViewData["Title"] = "Guidade turer";
}


<h1>Din bokning har blivit registrerad!</h1>
<p>Var vänlig att spara ditt kvitto-nummer, för reklamationer eller om du har undringar om ditt besök vid ett senare tillfälle.</p>
    
@foreach (var visitor in Model.Visitors)
    {
        <p style="text-decoration:wavy;">Angivet namn: @visitor.Alias</p>
        <p style="text-decoration:wavy;">Kvittonr/referens: @visitor.Id</p>
    }



