@using BVZ.Models.Tour;
@model object
@{
    ViewData["Title"] = "Guidade turer";
}

<div class="text-left">
    <h1 class="display-4">Tillgängliga guidade turer på Beverly Hills Zoo!</h1>
</div>

@if (Model is ErrorViewModel errorModel)
{
    <div class="text-left">
        <h1 class="display-4">Error</h1>
    </div>
    <div>
        <p>@errorModel.ValidationErrorMessage</p>
    </div>
}
else if (Model is DisplayAllToursViewModel displayModel)
{
    @foreach (var tour in displayModel.ToursOfTheDay)
    {
        <div class="card-group">

            <div class="card">
                @*<img src="..." class="card-img-top" alt="...">*@
                <div class="card-body">
                    <h5 class="card-title">@tour.Tour.TourName</h5>
                    <p class="card-text">@tour.Tour.Description</p>
                </div>
                <div class="card-footer">
                    @if(!@tour.IsMorningTour)
                    {
                        <small class="text-muted">Morgontur (09:00 - 12:00)</small>
                    }
                    else
                    {
                        <small class="text-muted">Eftermiddagstur (13:00 - 16:00)</small>
                    }
                    <small 
                        class="text-muted"
                        style="space-x-4">
                        Guide: @tour.Tour.Guide.Name
                        
                    </small>
                </div>
            </div>

        </div>
    }
}

